<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
  <header>
    <div class="container">
      <div id="brandname">
        AQI ML app with Flask
      </div>
      <h2>Air Quality Index Prediction</h2>
    </div>
  </header>

  <div class="ml-container">
    <form action="{{ url_for('predict') }}" method="post">
      <p>Just Click Predict Button</p>
      <br>
      <input type="submit" class="btn-info" value="predict">
    </form>

  </div>
</body>
</html>
